.tweet {
	width: 80%;
	margin: auto;
	background-color: white;
	border-top: solid 1px #DAE2E9;
	padding-left: 16px;
	padding-top: 8px;
	padding-bottom: 8px;
	font-family: arial;
	font-size: 14px
}

.gray {
	color: #758796;
	font-size: 12px
}

.text {
	margin-top: 5px;
	margin-bottom: 5px
}